<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />
    <uses-permission android:name="android.permission.CAMERA"/>
    <uses-permission android:name="android.permission.READ_MEDIA_IMAGES" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/steaming_pot_transparent"
        android:label="@string/app_name"
        android:roundIcon="@drawable/steaming_pot_transparent"
        android:supportsRtl="true"
        android:theme="@style/Theme.TrabajoFinGrado"
        tools:targetApi="31">
        <activity
            android:name=".controller.CalendarActivity"
            android:exported="false"
            android:theme="@style/Theme.Design.NoActionBar"/>
        <activity
            android:name=".controller.ShoppingListDetailActivity"
            android:exported="false"
            android:theme="@style/Theme.Design.NoActionBar" />
        <activity
            android:name=".controller.ShoppingListsListActivity"
            android:exported="false"
            android:theme="@style/Theme.Design.NoActionBar" />
        <activity
            android:name=".controller.ShowProductListActivity"
            android:exported="false"
            android:theme="@style/Theme.Design.NoActionBar" />
        <activity
            android:name=".controller.AuthenticationActivity"
            android:exported="false"
            android:theme="@style/Theme.Design.NoActionBar"/>
        <activity
            android:name=".controller.AddModifyRecipeActivity"
            android:exported="false"
            android:theme="@style/Theme.Design.NoActionBar"
            android:windowSoftInputMode="adjustPan">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".controller.StorageListActivity"
            android:exported="false"
            android:theme="@style/Theme.Design.NoActionBar">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".controller.StorageProductListActivity"
            android:exported="false"
            android:theme="@style/Theme.Design.NoActionBar">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".controller.RecipeDetailActivity"
            android:exported="false"
            android:theme="@style/Theme.Design.NoActionBar">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".controller.RecipeListActivity"
            android:exported="false"
            android:theme="@style/Theme.Design.NoActionBar">
            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
        <activity
            android:name=".controller.LauncherActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>

            <meta-data
                android:name="android.app.lib_name"
                android:value="" />
        </activity>
    </application>

</manifest>